.aboutMe{
    min-height: 600px;
    padding-top: 115px;
    display: grid;
    grid-template-columns: 400px 670px;
    grid-auto-rows: minmax(245px, auto) minmax(250px, auto);
    gap: 70px;
    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__skills{
        display: grid;
        grid-template-columns: repeat(2,260px);
        grid-template-rows: repeat(2, minmax(115px, auto)) ;
        grid-auto-rows: 1fr;
        gap: 20px 50px;
        margin-top: 80px;
    }
    &__skill{
        @include before_circle;
        &::before{
            top: 0px;
        }
        position: relative;
        display: grid;
        grid-template-columns: 25px 200px;
        gap: 35px;
        img {
            display: block;
            position: relative;
            top: 15px;
            left: 15px;
        }
        &_text{
            margin-top: 6px;
        }
    }
    &__text{
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        margin-top: 20px;
        text-align: justify;
    }
    &__desc {
        padding-top: 6px;
    }
}

