.button{
    height: 45px;
    background: $main_color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    border-radius: 2px;
    &__contacts {
        padding: 12px 26px;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        text-align: center;
        border: none;
        width: 219px;
        transition: 0.3s all;
        &:hover {
            box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
        }
    }
}